.btn-login{
	margin:10px !important;
}

#div_contents{
	width:75%;
	float:left;
}
.container_form{
	padding: 40px;
}


.card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #c1e7f4;
}
.back_white{
	background-color: white;
	margin-left: 0;
}

.below_link{
	padding: 0 5px 5px 5px !important;
}

.card_header_title {
	font-size: 17px;
}

.general_registration{

}
.form_request{
	padding: 40px;
}
#div_rights{

	width:20%;
	float:left;
	background-color:#ffffff;
}

.help{
	color:#CC6633;
}

.numbers{
	color:#1ECDE8 !important;
}
.danger{
	color: red;
}
.deleted{
	text-decoration: line-through;

}

.two-lines {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis !important;
	max-width: 200px !important;
}

.img {
	border-radius: 50%;
}
.date_color{
	color:#999999 ;
}

.content{
	padding: 20px;
}
.product_ul li{
	float: left;
	list-style: none;
	min-height: 260px;
	padding: 10px;
	margin: 10px;
	margin-top: 50px;


}
.product_ul{
	padding: 20px;
}
.system_title {
	margin: auto;
	text-align: center;
	font-size: 22px;
	padding-bottom: 20px;
	font-family: inherit;
	font-weight: 500;
	color: #151b1e;
	line-height: 1.2;
}
.headers h4 {
	margin: 0 !important;
	line-height: 3rem;
	color: #b98d24;
}
.text-uppercase {
	text-transform: uppercase!important;
}

.header-inner, .site-title {
	margin: 0;
	opacity: .7;
	font-family: 'Oswald', sans-serif;
	font-size: 2.6rem;
	line-height: 2.6rem !important;
	color: #054d6a;
}
body{
	font-weight: 400;
	line-height: 1.5;
	color: #151b1e;
	width: 100%;
	overflow: auto;
	padding-bottom: 30px;
	background: #f8f9fa url("../images/znzlogo-shade.png");
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register_dv{
	width: 100%;
}
.img_list_cart img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	margin: 10px;

}
.header_cart,.table_cart{
	padding: 20px;
}

.info_color{
	color:#B2B2B2 ;
	padding-right: 40px;
}
.color_info{
	color:#B2B2B2 ;
}
.cart_tr{
	padding: 30px !important;
}

.text-align-top{
	vertical-align: top;
}
.panel_div{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	margin-top: 0px;
	margin-bottom: 30px;
	background: white;
	padding: 30px;
}
.header-search{
	padding-top: 20px;
	padding-bottom: 20px;
}
.panel_div_list{
	margin-left: auto;
	margin-right: auto;
	background: white;
	overflow:hidden;
	border-radius: .35rem;
}

.home-link > li > a {
	font-weight: 400 !important;
	color: #20a8d8 !important;
	background-color: transparent;
}

.home-link > li > a:hover {
	text-decoration: underline;
}

.text_color_ok{
	color: #00A650;
}
.text_color_not_ok{
	color: #985f0d;
}

.panel_div_list_big{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 30px;
	background: white;
	overflow:hidden;
	padding: 20px;
}
.panel_div_home{
	width: 95%;
	background: white;
	text-align: center;
	color: #555;
	margin: 2rem auto;
	padding: 2rem;
	background-color: rgba(255,255,255,0.85);
	max-width: 1110px;


}
.panel_div_home_product{
	width: 95%;
	background: white;
	text-align: center;
	color: #555;
	margin: 2rem auto;
	padding: 2rem;
	max-width: 1110px;
}
.home_h4{
	font-weight: 500;
	line-height: 1.1;
	display: block;
	color: #555;


}
.img_logo{
	width: 200px;
	height: 100px;
	object-fit: cover;
}
.top_button_margin{
	margin: 30px;
}
.expert{
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-color: white;

}
.linksicon{
	color: #3399CC;
}
.product_ul{
	font-size: 12px;
	margin: 2px;
	padding: 4px;
}
.title_item{
	color: #333;
	line-height: 1em;
	margin-bottom: 6px;
	display: block;
	font: 30px "Aleo Light","Palatino Linotype",Palatino;
}
.title_product{
	color: #333;
	line-height: 1em;
	margin-bottom: 6px;
	display: block;
	text-align: start;
	padding: 20px;
	font: 30px "Aleo Light","Palatino Linotype",Palatino;
}
.div_image_li{
	width: 250px;
	float: left;
}
.div_width_quater{
	width: 150px;
	float: left;
}
.table_div{
	display: table;
	width: 100%;
	padding: 20px;
}
.table_div_list{
	margin-top: 20px;
	background-color: white;
}
.paragraph_desc{
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em;
	line-height: 1.8em;
	margin: 0 0 0;
	font-size: 12px;
}
.product_info{
	width: 30%;
	float: left;
	vertical-align: middle;
	padding-bottom: 10px;
	font-size: 14px;
	font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 300;
}
.div_half{
	width: 45%;
	float: left;
	text-align: left;

}
.header_text{
	font-size: 12pt;
	font-family: oswald, arial;
	font-weight: normal;
	letter-spacing: 0px;
	color: #666666;
	text-shadow: none;
	float: left;
}
.desc_data{
	margin-top: 10px;
}
.description{
	font-size: 18px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 300;
	line-height: 1.4em;
	margin-top: 5px;
	word-wrap: break-word;
	width: 100%;
	max-width: 595px;
	color: #333;

}
.heading_product{
	line-height: 1em;
	color: #555;
	font-size: 1.625em;
}
.big-hero-subtitle{
	position: relative;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0 11em 0 1em;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 4px;
}
.big-hero-title {
	position: relative;
	font-family: "Aleo Light","Palatino Linotype",Palatino;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 20px;
	line-height: 1.5em;
	margin: .75em 0 0 .75em;
}
.homedata li{
	padding: 18px 0;
	text-align: center;
	font-weight: bold;
	font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: bottom !important;
}
.homedata{
	float: left;
}
.list_button{
	padding: 18px 0;
	text-align: center;
	font-weight: bold;
	font-family: 'Helvetica neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}
.card_user{
	transition: 0.3s;
}
.label_texts{
	font-size: 14px;
	line-height: 21px;
	color: #888;
}
ul .list_button{
	float: none;
}
.item{
	position: relative;
	text-align: center;
	color: white;
}
.div_left{
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.price{
	color: #e64545;
	font-size: 14px;
	font-weight: bold;
}

.panel-user{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.ui-dialog-titlebar{
	background-color:#00BCD4 !important;
	border: 1px solid #00BCD4 !important;
}
.ui-widget-header{
	background-color:#00BCD4 !important;
	border: 1px solid #00BCD4 !important;
}

.login_div{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.container_img{
	position: relative;

}

/* Bottom right text */
.bottom-right {
	position: absolute;
	bottom: 4px;
	right: 8px;
}
.img_product{
	width: 80%;
}


.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
	background:#00BCD4;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}






select {
	height: 3.4em;
	line-height: 2;
}
select:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
select:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
select:focus,
select:active {
	outline: 0;
}

.input-group {
	margin-bottom: 1em;
	zoom: 1;
}
.input-group:before,
.input-group:after {
	content: "";
	display: table;
}
.input-group:after {
	clear: both;
}
.input-group-icon {
	position: relative;
	width: 85%;
}
.input-group-icon input {
	padding-left: 4.4em;
}
.input-group-icon .input-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.4em;
	height: 3.4em;
	line-height: 3.4em;
	text-align: center;
	pointer-events: none;
}
.input-group-icon .input-icon:after {
	position: absolute;
	top: 0.6em;
	bottom: 0.6em;
	left: 3.4em;
	display: block;
	border-right: 1px solid #e5e5e5;
	content: "";
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.row {
	zoom: 1;
}


.row:before,
.row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
.col-half {
	padding-right: 10px;
	float: left;
	width: 50%;
}
.col-half:last-of-type {
	padding-right: 0;
}
.col-third {
	padding-right: 10px;
	float: left;
	width: 33.33333333%;
}
.col-third:last-of-type {
	padding-right: 0;
}
@media only screen and (max-width: 540px) {
	.col-half {
		width: 100%;
		padding-right: 0;
	}
}

.img_list{
	width:100%; max-height: 200px; object-fit: cover;
	padding: 10px;
}

.text_warning{
	color: #9c1f1f;
}


.img_list:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.tabs_table, .tabs_table td, .tabs_table th {
	border: 1px solid #ddd;
	text-align: left;
}

.tabs_table {
	border-collapse: collapse;
	width: 100%;
}

.tabs_table th, .tabs_table td {
	padding: 15px;
	color: #666666 !important;
}


.customers {
	border-collapse: collapse;
	width: 100%;
}

.customers td, .customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}
.customers th a{
	color: #fff !important;
}

.customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #2196F3;
	color: white !important;
}

.nav-tabs > li > a {
	color: #337ab7;
	text-transform: none !important;
}


/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
	padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
	padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
	padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
	border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
	border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
	border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
	border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
	border-left: 10px solid #2196F3;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
	border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
	border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
	border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
	border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
	border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
	border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
	border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
	border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
	border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
	border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
	border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
	border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
	border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
	border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
	border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
	border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
	border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
	border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
	border-left: 10px solid #269abc;
}



/* datepicker css */

.ui-datepicker {
	text-align: center;
}

.ui-datepicker-trigger {
	margin: 0 0 0 5px;
	vertical-align: text-top;
}

.ui-datepicker {
	font-family: Open Sans, Arial, sans-serif;
	margin-top: 2px;
	padding: 0 !important;
	border-color: #c9f0f5 !important;
}

.ui-datepicker {
	width: 256px;
}

.openemr-calendar .ui-datepicker {
	width: 191px;
}

.ui-datepicker table {
	width: 256px;
	table-layout: fixed;
}

.openemr-calendar .ui-datepicker table {
	width: 191px;
	table-layout: fixed;
}

.ui-datepicker-header {
	background-color: #3e9aba !important;
	background-image: none !important;
	border-radius: 0;
}

.openemr-calendar .ui-datepicker-header {
	background-color: #e6f7f9 !important;
	border-width: 1px;
	border-color: #c9f0f5;
	border-style: solid;
}

.ui-datepicker-title {
	line-height: 35px !important;
	margin: 0 10px !important;
}

.openemr-calendar .ui-datepicker-title {
	line-height: 20px !important;
}

.ui-datepicker-prev span {
	display: none !important;
}

.ui-datepicker-next {
	text-align: center;
}

.ui-datepicker-next span {
	display: none !important;
}

.ui-datepicker-prev {
	background-color: transparent !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAUklEQVQYlXWPwQnAMAwDj9IBOlpH8CjdJLNksuujFIJjC/w6WUioFBcqJ7sGEAD5Y/hpqLRghRv4YQlUjqXI3Kql2MixraGbEhVcDXcFUR/1egEHNuTBpFW0NgAAAABJRU5ErkJggg==') !important;
	height: 12px !important;
	width: 7px !important;
	margin: 14px 12px;
	display: inline-block;
	left: 0 !important;
	top: 0 !important;
}

.openemr-calendar .ui-datepicker-prev {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAuUlEQVQokXXRsUtCYRAA8J8pDQ1CVIgIgtBU2NDiZIuDS4uLf6WDS1O0tLREEE8icBNKS3lTs8/B78XHw3dwcHA/juOuqjzucYJVrQQMcYctvo4OgEFIeMK6iPphCjzjEWLUC3vACx7yRo5uMUIFr5gii1EL41AvMIkBVPGH04DrSLEsIvjEOZq4wi9+iijDR0ANXOMbmxjlcIY2LtANO6YxymGCDs5wg/ciYv+KBJeY4+2A+Y9j4Y47RtUkrNXeDxUAAAAASUVORK5CYII=') !important;
	height: 14px !important;
	width: 9px !important;
	margin: 5px !important;
}

.ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-prev {
	cursor: pointer;
}

.ui-datepicker-next {
	background-color: transparent !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAVUlEQVQYlXWQ0Q3AIAhEL07gKI7kKN2kI3Wk1w9to3KQEELucQEECOizhhTQGHFnwOdgobWx0GkZILfYBhXl0STVbPoBarbkL7ozN/F8VBBXh8uJgF5r2hrI4GHUkAAAAABJRU5ErkJggg==') !important;
	height: 12px !important;
	width: 8px !important;
	margin: 14px 12px;
	display: inline-block;
	right: 0 !important;
	top: 0 !important;
}

.openemr-calendar .ui-datepicker-next {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAtElEQVQYlXXQsUpCcRQH4I97EQyHa1pgIEE0hBGYL+BjNLRFjxXh4rM4F21BS4S4FAgqQioOngt/RM/6+zi/w4EanlA4MDkecYsO3vG/D8a4Rx03eMMqBQt8oodTXAdalwBm+IpNDVxG3aYEMMU3ujjDBT5SAH9R2cE58mwPFOgneJSCGp7RjLoXTEtQjbCFOV7xCxkqdp9sYxnhpFyb4QFXdh8c4Cc9Ko++OwzjFwfn5FiwBVeuI/K2UCkSAAAAAElFTkSuQmCC') !important;
	height: 14px !important;
	width: 8px !important;
	margin: 5px;
}

.ui-datepicker-month {
	border-radius: 2px;
	background-color: #3985a0;
	width: 110px !important;
	height: 22px;
	font-family: Open Sans !important;
	color: #fff;
	font-size: 14px !important;
	font-weight: 600;
	text-align: left;
	border: none !important;
	margin-right: 17px !important;
	vertical-align: text-top;
}

.openemr-calendar .ui-datepicker-month {
	font-family: Open Sans, Arial, sans-serif;
	color: rgba(34, 34, 34, 0.87);
	font-size: 12px !important;
	font-weight: 700;
	text-align: center;
	transform: scaleX(1.0029)
}

.ui-datepicker-year {
	border-radius: 2px;
	background-color: #3985a0;
	width: 61px !important;
	height: 22px;
	border: none !important;
	font-family: Open Sans !important;
	color: #fff;
	font-size: 14px !important;
	font-weight: 600;
	text-align: left;
	vertical-align: text-top;
}

.openemr-calendar .ui-datepicker-year {
	font-family: Open Sans, Arial, sans-serif;
	color: rgba(34, 34, 34, 0.87);
	font-size: 12px !important;
	font-weight: 700;
	text-align: center;
	transform: scaleX(1.0029)
}

.ui-datepicker-month option,
.ui-datepicker-year option {
	color: #3985a0 !important;
	background-color: #fff !important;
	font-family: Open Sans !important;
	font-size: 14px !important;
	font-weight: 600;
}

.ui-datepicker-month option[selected],
.ui-datepicker-year option[selected] {
	background-color: #e5edf0 !important;
}

.ui-datepicker .ui-state-hover {
	/*background: none !important;*/
	border: 0 !important;
}

.ui-datepicker td {
	vertical-align: top;
}

.ui-datepicker .ui-state-default {
	border-radius: 2px;
	border-color: #edebeb !important;
	/*     background: white !important; */
	width: 24px;
	height: 24px;
	padding: 0 !important;
	line-height: 24px;
	text-align: center !important;
	font-family: Open Sans, Arial, sans-serif;
	color: #707070;
	font-size: 13px;
	font-weight: 400 !important;
	margin: 7px 0 0 4px;
}

.ui-datepicker .ui-state-default.ui-state-highlight{
	border-color: #dcdcdc;
	background-color: #cff3f8 !important;
	color: #3e9aba !important;
}

.openemr-calendar .ui-state-default {
	font-size: 10px;
	margin: 0;
}

.ui-datepicker td {
	width: 33px;
}

.openemr-calendar .ui-datepicker td {
	width: 26px;
}

.openemr-calendar .ui-state-default {
	width: 26px;
	height: 20px;
	line-height: 20px;
}
.ui-state-default.ui-state-hover {
	border-color: #dcdcdc;
	background-color: #cff3f8 !important;
}

.ui-datepicker .ui-state-active {
	border-color: #dcdcdc;
	background-color: #cff3f8 !important;
	color: #3e9aba !important;
}

.ui-datepicker-calendar thead tr th {
	font-family: Open Sans, Arial, sans-serif;
	color: #549fa8;
	font-size: 12px;
	font-weight: 400;
	padding: 0.45em 0.3em !important;
	/*   width: 15px !important; */
}

.openemr-calendar .ui-datepicker-calendar thead tr th {
	font-size: 10px;
}

.ui-datepicker-close {
	display: none;
}

.ui-datepicker thead {
	background-color: #f5f5f5;
}

.openemr-calendar .ui-datepicker thead {
	background: none;
}

.ui-state-default.ui-datepicker-current {
	float: none !important;
	font-family: Open Sans, Arial, sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	border-width: 0 !important;
	border: none;
	vertical-align: top;
	margin: 0 !important;
	background-color: transparent !important;
}

.ui-datepicker-buttonpane.ui-widget-content {
	text-align: center;
	background-color: #3e9aba;
	margin: 0 !important;
	height: 28px;
	padding: 0 !important;
}

.openemr-calendar .ui-datepicker-year {
	background-color: transparent;
}

.openemr-calendar .ui-datepicker-month {
	background-color: transparent;
}

.openemr-calendar .ui-state-default {
	border: 0 !important;
}

.openemr-calendar .ui-datepicker-month {
	margin-right: 10px !important;
}


.card-counter{
	box-shadow: 2px 2px 10px #DADADA;
	margin: 5px;
	padding: 20px 10px;
	background-color: #fff;
	height: 100px;
	border-radius: 5px;
	transition: .3s linear all;
}

.card-counter:hover{
	box-shadow: 4px 4px 20px #DADADA;
	transition: .3s linear all;
}

.card-counter.primary{
	background-color: #007bff;
	color: #FFF;
}

.card-counter.danger{
	background-color: #ef5350;
	color: #FFF;
}

.card-counter.success{
	background-color: #66bb6a;
	color: #FFF;
}

.card-counter.info{
	background-color: #26c6da;
	color: #FFF;
}

.card-counter i{
	font-size: 5em;
	opacity: 0.2;
}

.card-counter .count-numbers{
	position: absolute;
	right: 35px;
	top: 20px;
	font-size: 32px;
	display: block;
}

.card-counter .count-name{
	position: absolute;
	right: 35px;
	top: 65px;
	font-style: italic;
	text-transform: capitalize;
	opacity: 0.5;
	display: block;
	font-size: 18px;
}


.modal-header {
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #0480be;
	color: white;
	font-weight: 500;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.report-item td{
 width: 120px !important;
 padding: 4px !important;
}



