:root {
    --primary-color: #0500FF;
    --primary-color-light: #F0F6FF;
    --primary-color-text: #fff;
    --primary-color-background: #fff;
    --primary-color-footer: #F9F9F9;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 60px;
}


aside::-webkit-scrollbar {
    width: 5px;
}

aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

aside::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 60px;
}

div::-webkit-scrollbar {
    width: 5px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 60px;
}


.zhelb-navbar {
    /*display: flex;*/
    /*align-items: start;*/
    /*justify-content: start;*/
    background-color: #ffffff;
    position: sticky !important;
    /*position: -webkit-sticky!important;*/
    top: 0;
    z-index: 3000;
}

.zhelb-sidenav {

}

.zhelb-sidenav::-webkit-scrollbar {
    width: 5px;
}

.zhelb-sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

.zhelb-sidenav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 60px;
}

.zhelb-link {
    color: #0500FF !important;
}

.zhelb-button {
    color: white !important;
    background: var(--primary-color);
}
